# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.VSCodeCounter/2024-04-18_13-28-16/results.json
.VSCodeCounter/2024-04-18_13-28-16/results.csv
.VSCodeCounter/2024-04-18_13-28-16/results.md
.VSCodeCounter/2024-04-18_13-28-16/details.md
.VSCodeCounter/2024-04-18_13-28-16/diff-details.md
.VSCodeCounter/2024-04-18_13-28-16/diff.csv
.VSCodeCounter/2024-04-18_13-28-16/diff.md
.VSCodeCounter/2024-04-18_13-28-16/diff.txt
.VSCodeCounter/2024-04-18_13-28-16/results.txt
application_log.txt
log.txt
node_modules
